<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h2>Home</h2>
<h2>Login</h2>
<form method="POST" action="/login">
    <input type="text" id="loginname" name="name" value="anna"/>
    <input type="text" id= "loginpassword" name="password" value="123456"/>
    <input type="submit"  id="loginbutton" value="Login"/>
</form>

<div id="maincontent" th:if="${session.status == '1'}">
    <form method="POST" action="/addUser">
        <input type="hidden" name="id" value="1"/>
        <input type="text" name="name" value="anna"/>
        <input type="text" name="amount" value="125.0"/>
        <input type="submit"  value="Add user"/>
    </form>
    <table>
       <tr th:each="user : ${userlist}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.amount}"></td>
       </tr>
        <tr>
            <td>Average amount:</td><td th:text="${average}"></td>
        </tr>
    </table>
</div>
<div name="mydiv">Hello World!!</div>
</body>
</html>